@import './theme.scss';

.apartments-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 25%;
        min-width: 420px;
        margin: 25px;
        padding: 25px;
        border-radius: 7px 7px 7px 7px;
        /* VIA CSS MATIC https://goo.gl/cIbnS */
        -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);

        .apt-row {
            margin: auto;
        }

    }
    
    .apt-row-data{
        display: flex;
        flex-direction: row;
        .apt-col{
            width: 60%;
        }
    }

    .card{
        width: 25rem;
        border-radius: 1rem;
        background: white;
        box-shadow: 4px 4px 15px rgba(#000, 0.15);
        position : relative;
        color: #434343;
    }


    .card::before{
        position: absolute;
        top:1rem;
        right:8rem;
        content: '';
        background: $gallery-primary;
        height: 28px;
        width: 28px;
        transform : rotate(45deg);
    }
  
    .card::after{
        position: absolute;
        content: attr(data-label);
        right: 7em;
        padding: 0.5rem;
        width: 10rem;
        background: $gallery-primary;
        color: white;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
    }

    .card-inst::before{
        top: 4rem;
    }
    .card-inst::after{
        top: 3rem;
    }
    .rating-circ{

        .CircularProgressbar{
            font-size:0.5em;
        }

        .CircularProgressbar-trail {
            stroke: $rating-trail;
            stroke-width: 1em;
        }
        
        .CircularProgressbar-path{
            stroke: $gallery-primary;
            stroke-width: 1em;
        }

        .CircularProgressbar-text {
            fill: $gallery-primary;
        }

    }

    .rating-circ-red{
        .CircularProgressbar{
            font-size:0.5em;
        }

        .CircularProgressbar-trail {
            stroke: $rating-low;
            stroke-width: 1em;
        }

        .CircularProgressbar-path{
            stroke: $rating-low;
            stroke-width: 1em;
        }

        .CircularProgressbar-text {
            fill: $rating-low;
        }

    }
    .rating-circ-green{

        .CircularProgressbar{
            font-size:0.5em;
        }

        .CircularProgressbar-trail {
            stroke: $rating-trail;
            stroke-width: 1em;
        }
        .CircularProgressbar-path{
            stroke: $rating-high;
            stroke-width: 1em;
        }

        .CircularProgressbar-text {
            fill: $rating-high;
        }

    }
  
    .apartment-img {
        width: 80%;
      .slider-img {
          width: 100%;
          border-radius: 7px 0 0 7px;
      }
    }
    
    .apartment-info {
      width: 70%;
      border-radius: 0 7px 10px 7px;
      background-color: $gallery-primary-font;
      
      .apartment-text{
          
          .booking-extra {
              color: black;
              text-decoration: underline;
          }
    
          h1 {
              height: 30%;
              font-size: 18px;
              color: #474747;
              font-family: 'Bentham', serif;
          }
    
          p {
              font-family: 'Playfair Display', serif;
              color: #8d8d8d;
              font-size: 15px;
              font-weight: lighter;
              overflow: hidden;
          }
            
    
      }
    }
    
    .apartment-price p {
      font-family: 'Bentham', serif;
      text-align: left;
    }
    
    span {
      display: inline-block;
      height: 50px;
      font-family: 'Suranna', serif;
      font-size: 34px;
    }
}

  
/* Media Queries */

@media (max-width: 600px) {
    .apartments-container{
        .wrapper {
            min-width: 300px;
        }
    }
}