@import './theme.scss';

.navbar {
    display: flex;
    align-items: center;
    color: $gallery-secondary;
    font-family: Roboto;
    font-weight: bold;
    box-shadow: 1px 5px #64626210;
}

.navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
    color: $gallery-primary-font;
}

.navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
}