
// Define the palettes for the theme in this file.

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);


$gallery-primary: #6ca1f7;
$gallery-primary-font: white;
$gallery-darker: #0d47a1;
$gallery-secondary: #292c2f;
$gallery-shadow: #64626220;
$rating-color: #f0f063;
$rating-trail: gray;